.modalDiv {
    position: fixed;
    left: 0;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    border: none;
    width: 60%; 
    border-radius: 16px;
    height: 150px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.addButton{
    border: none;
    border-radius: 16px;
    width: 100px;
    background-color: rgb(117, 116, 116);
}

.addButton:hover{
    background-color: grey;
}

.modalHeader{
    background-color: grey;
    width: 100%;
    height: 30px;
    text-align: center;
    border-radius: 14px 14px 0 0;
}